html, body {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

label {
    font-weight: bold;
    padding-right: 1em;
}

.header {    
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    background-color: #2980b9;
    color: #eee;
    font-size: large;
    box-sizing: border-box;
}

.calc-flex {
    display: flex;
    align-items: center;
    background-color: #eee;
    border-radius: 4px;
    border-bottom: 1px solid #ccc;
}

.flex-50 {
    display: flex;
    padding: 16px;
    width: 50%;    
}

.flex-100 {
    display: flex;
    padding: 16px;
    width: 100%;    
}

.flex-100:last-child {
    border-bottom: 1px solid #ccc;
}

.item-0 {
    border-top: 1px solid #ccc;
    bottom: 0%; 
    position: absolute; 
    width: 100%;
    box-sizing: border-box;
}

.content-flex {
    display: flex;
    align-items: center;
}

input[type="range"] {
    width: 100%;
    margin-right: 16px;
}

input[type="number"] {
    width: 20%;
    margin-right: 16px;
}
